[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prometheus-client = "==0.19.0"
kubernetes = "==29.0.0"
c2cwsgiutils = "==5.2.3"

[dev-packages]
prospector = {version = "==1.10.3", extras = ["with_bandit", "with_mypy"]}

[requires]
python_version = "3.8"
